<div class="flex justify-between items-center text-center">
  <div class="flex items-center text-center gap-2">
    <p class="text-2xl font-semibold">ประวัติการดึงข้อมูล</p>
    <p-badge
      value="100 รายการ"
      severity="success"
      class="badge-custom text-xs font-medium"
    />
  </div>
  <div class="flex items-center text-center gap-4">
    <p-button
      label="ดึงข้อมูลสินค้า"
      icon="pi pi-sync"
      size="small"
      variant="outlined"
      severity="secondary"
      class="button-order"
    />
    <p-button
      label="ดึงข้อมูลราคา"
      icon="pi pi-sync"
      size="small"
      severity="danger"
      variant="outlined"
      class="button-item"
    />
    <p-button
      label="Export"
      icon="pi pi-download"
      size="small"
      severity="success"
      class="button-export"
    />
  </div>
</div>
